<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Creative Title" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">leage title thing</li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="donate-button">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="P8CELMVQ7MNVU">
          <input class="donate-image" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </li>
      <li id="collab-1">
        <a href="#">Philip Ross</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li id="collab-2">
        <a href="#">Spenser Solys</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>




<div id="main-content">

      <div class="twelve columns" text-center id='login'>
        <div class="row collapse postfix-round">
          <div class="small-1 medium-4 columns"></div>
          <div class="small-5 medium-5 columns">
            <input type="text" placeholder="Value">
          </div>
          <div class="small-6 medium-3 columns">
            <a href="#" class="button postfix success">Go</a>
          </div>
        </div>
      </div>







  <%= yield %>
</div>

<div id="footer">
  <div id="foot" class="row">
    <span class="small-9 small-centered columns">If you find any bugs with D or F?, please email them to leagueflashstats@gmail.com. D or F? is not endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</span>
  </div>
</div>

</body>
</html>
